/* Three columns side by side */
	.column {
	    float: left;
	    width: 33.3%;
	    margin-bottom: 16px;
	    padding: 0 8px;
	}

	/* Display the columns below each other instead of side by side on small screens */
	@media (max-width: px) {
	    .column {
	        width: 100%;
	        display: block;
	    }
	}

	/* Add some shadows to create a card effect */
	.card {
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	/* Some left and right padding inside the container */
	.container {
	    padding: 0 16px;
	}

	/* Clear floats */
	.container::after, .row::after {
	    content: "";
	    clear: both;
	    display: table;
	}